# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
ENV/
env.bak/
venv.bak/

# Test data and temporary files
test_data/
tmp/
model/

# Model files
*.h5
*.keras

# OS and Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
